.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button{

   background-color: black;
  color: white;
  font-size: 0.8rem;
  padding:0.5rem 0.5rem;
  border-radius:2rem;
  margin: 1rem;
  cursor: pointer;
  

}

.img{
    height: 1.4rem;
}

.input{
    background-color: black;
    color: white;
    height: 3rem;
    border-radius:2rem;
    padding-left: 4rem;
    padding-right: 2rem;
    font-size: large;
}

.button:hover {
    transform: scale(0.8);
    transition-duration: 0.5s;
}



.texto{
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-family:"Permanent Marker", cursive;

}